<!doctype html>
<html lang="ja" ng-app="app">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=960, initial-scale=1">
<meta name="keywords" content="link, check">
<meta name="description" content="All the links that exist in your web site to list up, investigate to see if you can access.">
<meta property="og:title" content="Bridges - The broken links finder.">
<meta property="og:url" content="http://fallen-bridges.com/">
<meta property="og:description" content="All the links that exist in your web site to list up, investigate to see if you can access.">
<meta property="og:type" content="website">
<meta property="og:image" content="http://fallen-bridges.com/img/ogp.jpg">
<title>Bridges - The broken links finder.</title>
<link rel="shortcut icon" href="/img/favicon.ico">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Michroma">
<link rel="stylesheet" href="css/style.css">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-animate.min.js"></script>
<script src="js/app.js"></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-61673000-1', 'auto');
  ga('send', 'pageview');

</script>
</head>
<body ng-controller="AppController">
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v2.3&appId=867594183306256";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container-fluid">
		<div class="navbar-header"><a href="/" class="navbar-brand">Bridges</a></div>
		<ul class="nav navbar-nav pull-right navbar-text list-inline">
			<li>
				<div class="fb-share-button" data-href="http://fallen-bridges.com/" data-layout="button"></div>
			</li>
			<li>
				<a class="twitter-share-button" href="https://twitter.com/share" data-count="none">ツイート</a>
				<script>
				window.twttr=(function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],t=window.twttr||{};if(d.getElementById(id))return t;js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);t._e=[];t.ready=function(f){t._e.push(f);};return t;}(document,"script","twitter-wjs"));
				</script>
			</li>
		</ul>
	</div>
</nav>
<div class="top" ng-show="!Website.top">
	<div class="container">
		<h1>
			Bridges<br>
			<small>The broken links finder.</small>
		</h1>
		<form name="checker" ng-submit="Website.check(query)" class="row">
			<p><input type="url" name="url" ng-model="query" placeholder="Enter your site's URL" required></p>
			<p><input type="submit" value="Check !!" class="btn btn-default btn-start" ng-disabled="checker.$invalid"></p>
		</form>
	</div>
</div>
<div class="notification alert alert-info" ng-show="Website.message">
	<div class="container-fluid">
		<p>
			<img src="http://capture.heartrails.com/400x300?{{Website.pages[Website.current].url}}" alt="{{Website.pages[Website.current].url}}">
		</p>
		<p>
			<small>Analyzing:</small><br>
			<a href="{{Website.message}}" target="_blank">{{Website.message}}</a>
		</p>
	</div>
</div>
<div class="display" ng-show="Website.top" ng-class="{checking: Website.message}">
	<div class="result" ng-show="Website.top">
		<div ng-repeat="page in Website.pages" class="page">
			<div ng-click="checkChildRadio($index)" ng-class="{active: checkSelectedResultBox($index)}">
				<input type="radio" ng-model="selectedResultBox.id" name="resultPages" ng-value="$index + 1">
				<span class="ico text-primary" ng-if="page.enabled == null"><i class="fa fa-spinner fa-lg fa-spin"></i></span>
				<span class="ico text-success" ng-if="page.enabled == true"><i class="fa fa-check fa-lg"></i></span>
				<span class="ico text-danger" ng-if="page.enabled == false"><i class="fa fa-times fa-lg"></i></span>
				{{page.url | deleteDomain}}
				<ul class="list-inline">
					<li><i class="text-success fa fa-check"></i> {{page.count.success}}</li>
					<li><i class="text-warning fa fa-exclamation-triangle"></i> {{page.count.warning}}</li>
					<li><i class="text-danger fa fa-times"></i> {{page.count.error}}</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="summary" ng-class="{back: summary()}">
		<div class="container-fluid">
			<div class="pull-right">
				<a href="/" class="btn btn-default"><i class="fa fa-undo fa-lg"></i> Check other URL</a>
			</div>
			<section>
				<h2 class="page-header"><i class="fa fa-sitemap fa-lg"></i> Your site</h2>
				<p class="lead"><a href="{{Website.top}}" target="_blank">{{Website.top}}</a></p>
			</section>
			<section>
				<h2 class="page-header"><i class="fa fa-list-alt fa-lg"></i> Summary</h2>
				<div class="row">
					<div class="col-md-6">
						<div class="data well text-center">
							<span>Pages in your site</span>
							<strong>{{Website.pages.length | number}}</strong>
						</div>
					</div>
					<div class="col-md-6">
						<div class="data well text-center">
							<span>URLs in your site</span>
							<strong>{{Website.cache.length | number}}</strong>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
						<div class="data data-1 well text-center">
							<span class="text-success"><i class="fa fa-check fa-lg"></i> Success</span>
							<strong>{{Website.result.success.length | number}}</strong>
						</div>
					</div>
					<div class="col-md-4">
						<div class="data data-2 well text-center">
							<span class="text-warning"><i class="fa fa-exclamation-triangle fa-lg"></i> Warning</span>
							<strong>{{Website.result.warning.length | number}}</strong>
						</div>
					</div>
					<div class="col-md-4">
						<div class="data data-3 well text-center">
							<span class="text-danger"><i class="fa fa-times fa-lg"></i> Error</span>
							<strong>{{Website.result.error.length | number}}</strong>
						</div>
					</div>
				</div>
			</section>
			<section ng-if="Website.result.error.length">
				<h2 class="page-header"><i class="fa fa-times fa-lg"></i> Errors</h2>
				<div class="data well">
					<table class="table">
						<thead>
							<tr>
								<th>No.</th>
								<th>URL</th>
								<th>Status</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="error in Website.result.error">
								<td>{{$index + 1}}</td>
								<td><a href="{{error.url}}" target="_blank">{{error.url}}</a></td>
								<td><span class="label label-danger">{{error.status}}</span></td>
							</tr>
						</tbody>
					</table>
				</div>
			</section>
			<section ng-if="Website.result.warning.length">
				<h2 class="page-header"><i class="fa fa-exclamation-triangle fa-lg"></i> Warnings</h2>
				<div class="data well">
					<table class="table">
						<thead>
							<tr>
								<th>No.</th>
								<th>URL</th>
								<th>Status</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="warning in Website.result.warning">
								<td>{{$index + 1}}</td>
								<td><a href="{{warning.url}}" target="_blank">{{warning.url}}</a></td>
								<td><span class="label label-warning"><i class="fa fa-exclamation-triangle"></i></span></td>
							</tr>
						</tbody>
					</table>
				</div>
			</section>
		</div>
	</div>
	<div class="result-box" id="result-box-{{$index}}" ng-repeat="page in Website.pages" ng-show="checkSelectedResultBox($index)">
		<div class="container-fluid">
			<p class="text-right"><button type="button" class="close" ng-click="closeResultBox($index)">&times;</button></p>
			<div class="row" ng-if="page.enabled">
				<div class="col-md-4">
					<a href="{{page.url}}" target="_blank">
						<img src="http://capture.heartrails.com/400x300?{{page.url}}" alt="{{page.url}}">
					</a>
				</div>
				<div class="col-md-8">
					<h2>
						<a href="{{page.url}}" target="_blank">
							{{page.title}}<br>
							<small>{{page.url}}</small>
						</a>
						<br>
						<small ng-if="page.enabled == null">Searching ...</small>
						<small ng-if="page.enabled == true">{{page.inner.length}} URLs included.</small>
						<small ng-if="page.enabled == false">Disconnected.</small>
					</h2>
				</div>
			</div>
			<table class="table" ng-show="page.enabled">
				<thead>
					<tr>
						<th>No.</th>
						<th>Href value</th>
						<th>Status</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="innerPage in page.inner">
						<td>{{$index + 1}}</td>
						<td><a href="{{innerPage.absoluteUrl}}" target="_blank">{{innerPage.url}}</a></td>
						<td ng-if="innerPage.enabled == null">
							<span class="text-muted">Checking ...</span>
						</td>
						<td ng-if="innerPage.enabled == 'success'">
							<span class="label label-success">{{innerPage.status}}</span>
						</td>
						<td ng-if="innerPage.enabled == 'error'">
							<span class="label label-danger">{{innerPage.status}}</span>
						</td>
						<td ng-if="innerPage.enabled == 'warning'">
							<span class="label label-warning"><i class="fa fa-exclamation-triangle"></i></span>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
<footer class="footer">
	<small>&copy; 2015 Bridges.</small>
</footer>
<svg version="1.1" xmlns='http://www.w3.org/2000/svg'>
	<filter id='blur'>
		<feGaussianBlur stdDeviation='6' />
	</filter>
</svg>
</body>
</html>
