@import 'bootstrap';

html {
	height: 100%;
}
body {
	background-image:
		radial-gradient(circle at center, rgba(255, 255, 255, .3) 0%, rgba(255, 255, 255, 0) 100%),
		linear-gradient(to bottom, rgba(0, 0, 0, .25), rgba(0, 0, 0, .25)),
		url(../img/bg.jpg);
	background-attachment: fixed;
	background-size: cover;
	height: 100%;
	position: relative;
	font-family: 'Michroma', sans-serif;
	padding-top: 57px;
	padding-bottom: 48px;
	overflow-x: hidden;
}
img {
	max-width: 100%;
	max-height: 100%;
	width: auto;
	height: auto;
}
::-webkit-input-placeholder {
	color: rgba(255, 255, 255, .5);
	font-family: 'Michroma', sans-serif;
	text-shadow: none;
}
:-moz-placeholder {
	color: rgba(255, 255, 255, .5);
	font-family: 'Michroma', sans-serif;
	text-shadow: none;
}
.navbar {
	min-height: 54px;
}
.top {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align: center;
	width: 100%;
	h1 {
		font-size: 80px;
		font-weight: normal;
		margin-bottom: 1em;
		text-shadow: 0 0 20px #000;
		color: #fff;
		letter-spacing: -3px;
		line-height: .7;
		small {
			font-size: 26px;
			color: #DDD;
			letter-spacing: 0;
		}
	}
	input[type="url"] {
		background: transparent;
		font-size: 24px;
		width: 640px;
		padding: 8px;
		border: 1px solid #fff;
		color: #fff;
		border-radius: 8px;
		margin: 1em 0;
		box-shadow: inset 0 0 8px #000;
		font-family: 'Michroma', sans-serif;
		text-shadow: 0 0 2px #fff;
		text-align: center;
	}
}
.btn-start {
	background: transparent;
	font-size: 24px;
	padding: 16px 48px;
	border: 1px solid #fff;
	border-radius: 8px;
	color: #fff;
	margin: 1em 0;
	text-shadow: 0 0 2px #fff;
	font-family: 'Michroma', sans-serif;
	cursor: pointer;
	-webkit-transition: all .6s;
	transition: all .6s;
	&:hover {
		background: rgba(0, 175, 204, .75);
	}
}
.text-primary {
	color: $brand-primary;
}
.text-success {
	color: $brand-success;
}
.text-warning {
	color: $brand-warning;
}
.text-danger {
	color: $brand-danger;
}
.display {
	position: fixed;
	top: 57px;
	left: 0;
	width: 100%;
	-webkit-transition: all .3s;
	transition: all .3s;
	&.checking {
		top: 217px;
	}
}
.result {
	background: rgba(0, 0, 0, .25);
	color: #fff;
	float: left;
	width: 25%;
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	.page {
		border-top: 1px solid #666;
		position: relative;
		-webkit-transition: background .3s;
		transition: background .3s;
		&:first-child {
			border-top: 0;
		}
		&.active {
			background: $brand-primary;
		}
		> span {
			word-break: break-all;
			display: block;
			padding: 1em 1em 1em 3em;
			cursor: pointer;
			position: relative;
			-webkit-transition: left .3s;
			transition: left .3s;
			.ico {
				position: absolute;
				top: 50%;
				left: 1em;
				-webkit-transform: translateY(-50%);
				transform: translateY(-50%);
			}
		}
		&.ng-enter > span {
			left: -100%;
		}
		&.ng-enter-active > span {
			left: 0;
		}
	}
}
.result-box {
	position: absolute;
	top: 0;
	left: 25%;
	width: 75%;
	height: 100%;
	padding: 3em;
	overflow-x: hidden;
	overflow-y: auto;
	text-shadow: 0 0 .25em #000;
	background: rgba(0, 0, 0, .5);
	h2 {
		color: #fff;
		a {
			color: #fff;
		}
		small {
			color: #ddd;
		}
	}
	img {
		box-shadow: 0 0 .25em;
	}
	.table {
		color: #fff;
		tr td:first-of-type {
			text-align: center;
			white-space: nowrap;
		}
		tr td:last-of-type {
			text-align: center;
			white-space: nowrap;
		}
		a {
			color: #fff;
		}
	}
}
.label {
	display: inline-block;
	width: 5em;
}
.summery {
	height: 100%;
	padding: 3em;
	overflow: auto;
	section {
		margin: 5% 0 10%;
		&:first-of-type {
			margin-top: 0;
			.page-header {
				margin-top: 0;
			}
		}
	}
	.page-header {
		text-shadow: 0 0 .25em #000;
		color: #fff;
	}
	.lead a {
		text-shadow: 0 0 .25em #000;
		color: #fff;
	}
	.data {
		color: #fff;
		border: 0;
		background: rgba($brand-primary, .25);
		text-shadow: 0 0 .25em #000;
		span {
			display: block;
		}
		strong {
			display: block;
			font-size: 40px;
		}
	}
	&.back {
		-webkit-filter: blur(5px);
		filter: blur(5px);
	}
}
.notification {
	background: $brand-primary;
	height: 160px;
	-webkit-transition: height .3s;
	transition: height .3s;
	z-index: 1030;
	word-break: break-all;
	border-radius: 0;
	margin: 0;
	&.ng-hide {
		height: 0;
	}
	p {
		height: 128px;
		&:first-of-type {
			float: left;
			  margin: 0 5% 0 0;
			img {
				height: 100%;
			}
		}
		&:last-of-type {
			overflow-x: hidden;
			overflow-y: auto;
		}
	}
}
h2, p, td {
	word-break: break-all;
}
h2 img {
	border: 1px solid #ddd;
	margin: 0 1em 0 0;
	padding: 1em;
	width: 100%;
	height: auto;
}
.footer {
	background: $brand-primary;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	text-align: center;
	color: #fff;
	padding: 1em 0;
}
